h1.main-header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.grid-container {
    box-shadow: 0px 0px 10px black ;
    height: 500px;
    width: 500px;
    margin: 18px auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
}

div.grid-element {
    flex-wrap: wrap;
}

div.grid-element.colored {
    background-color: black;
}

.on {
    background-color: rgb(179, 0, 0);
}